#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader #image_container {
    overflow: hidden;
    display: flex;
    align-items: center;
}
#loader #image_container #img1_cont {
    background: white;
    z-index: 1;
}
#loader #image_container #image {
    width: 70px;
    animation-name: example2;
    animation-duration: 4s;
    transition: 0.5s ease-in-out;
}
@keyframes example2 {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
#loader #image_container #image2 {
    width: 150px;
    margin: 0 0 0 15px;
    animation-name: example;
    animation-duration: 4s;
    transition: 0.5s ease-in-out;
}
@keyframes example {
    0%   {margin: 0 0 0 -100px;}
    100% {margin: 0 0 0 15px;}
  }